<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Goods</a>

    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" th:href="${'/goods'}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="${'/goods/official'}">Offical</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="${'/goods/sale'}">Sale</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/logout}" >로그아웃</a>
        </li>
    </ul>
    </div>
</nav>
<div class="container">
    <h1 class="text-center my-4">Main</h1>

    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Image</th>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Created At</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="good: ${goods}">
            <td th:text="${good.id}"></td>
            <td>
                <img th:src="@{'/images/'+${good.imageFileName}}" width="100">
            </td>
            <td><a th:text="${good.title}" th:href="@{/goods/view(id=${good.id})}"> </a></td>
            <td th:text="${good.category}"></td>
            <td th:text="@{${good.price} + '원'}"></td>
            <td th:text="${good.createAt.toString().substring(0,10)}"></td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>